{% load staticfiles %}

<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>TuProfe.com</title>
		<meta name="title" content="Título de la WEB">
		<meta name="description" content="Descripción de la WEB">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/static/Institutos/theme/js/jquery.min.js"></script>
		<script src="/static/Institutos/theme/js/tuprofe.js"></script>
		<script type="text/javascript" src="/static/Institutos/theme/js/stepcarousel.js"></script>
        <link href="/static/Institutos/theme/css/tuprofe.css" rel="stylesheet" type="text/css">
        
        <script src="{% static 'Institutos/script.js' %}"></script>
    </head>

	<body>
        <div id="container">
        {% block header %}
            <header class="interna">
                <div class="max head headTop">
                    <div class="internaHeadLeft">
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <span class="logoBig">tuprofe</span><span class="logoSmall">.com.uy</span>
                            </a>
                        </div>
                        {% block titleH1 %} {% endblock %}
                    </div>
                    <div class="internaHeadRight">
                        <div class="menuHead">
                            <div class="menu">
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'perfil' %}">Perfil</a>
                                {% endif %}
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'logout' %}">Salir</a>
                                {% else %}
                                    <a href="{% url 'ingresar' %}">Ingresar</a>
                                {% endif %}
                                {% if not request.user.is_authenticated %}
                                    <a href="{% url 'contacto' %}">Contáctenos</a>
                                {% endif %}
                            </div>
                            
                            <div class="hamburger">
                                <div class="_layer -top"></div>
                                <div class="_layer -mid"></div>
                                <div class="_layer -bottom"></div>
                            </div>
                            
                            {% if searchResponsive != None %}
                                <div class="iconSearch">
                                    <img src="/static/Institutos/theme/img/lupa_white.png" id="iconSearch">
                                </div>
                            {% endif %}
                        </div>
                        {% if direccion %}
                            <div class="buscador">
                                <form name="buscarH" method="post" action="{% url 'buscar' %}">
                                    <input list="centros" id="centro1" name="centro" class="centroestudioCombo" placeholder="Centro de estudio" value="{{ centro }}" onchange="onCentroChange(true)">
                                    <datalist id="centros">
                                    {% for centro in centros %}
                                        <option value="{{ centro.nombre }}"></option>
                                    {% endfor %}
                                    </datalist>
                                    <input list="materias" id="materia1" name="materia" class="centroestudioCombo" placeholder="Materia" value="{{ materia }}">
                                    <datalist id="materias">
                                    </datalist>
                                    <input id="address" type="text" name="dir" class="dir" value="{{ direccion }}" hidden>

                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="popUpMenu">
                    <div class="menuHeadResponsive">
                        <p>Men&uacute;</p>
                        <a href="{% url 'nosotros' %}">Nosotros</a>
                        <a href="{% url 'contacto' %}">Contáctenos</a>
                
                        {% if not request.user.is_authenticated %}
                            <a href="{% url 'ingresar' %}">Ingreso</a>
                            <a href="{% url 'registro' %}">Registro</a>
                        {% endif %}
                    </div>
                </div>
                <div class="popUpContent">&nbsp;</div>
                {% if searchResponsive != None %}
                    <div class="bluePopUpContent">
                        <div class="max">
                            <div class="buscadorResponsive">
                                <form name="buscarH" method="post" action="{% url 'buscar' %}">
                                    <input list="centros" id="centro2" name="centro" class="centroestudioCombo" placeholder="Centro de estudio" value="{{ centro }}"  onchange="onCentroChange(true)">
                                    <datalist id="centros">
                                        {% for centro in centros %}
                                            <option value="{{ centro.nombre }}"></option>
                                        {% endfor %}
                                    </datalist>
                                    <input list="materias" id="materia2" name="materia" class="centroestudioCombo" placeholder="Materia" value="{{ materia }}">
                                    <datalist id="materias">
                                    </datalist>

                                </form>
                            </div>
                            
                            <script>
                                var materias = [
                                    {% for materia in materias %}
                                        { centro: "{{ materia.centro.nombre }}", materia: "{{ materia.nombre }}" }, 
                                    {% endfor %}
                                ];

                                function onCentroChange(clean) {
                                    jQuery("#materias").html("");
                                    if (clean) 
                                        jQuery("input[name=materia]")[0].value = "";
                                    var centro = jQuery("input[name=centro]")[0].value;
                                    jQuery.each(materias, function(i, item) {
                                        if (item.centro == centro)
                                            jQuery("#materias").append(jQuery("<option>").attr('value', item.materia).text(item.materia));
                                    });
                                }

                                onCentroChange(false);
                            </script>
                        </div>
                    </div>
                {% endif %}
            </header>

        {% endblock %}

        {% block content %}
        {% endblock %}
        </div>
        
        {% block footer %}
		
            <footer>
                <hr>
                <div class="max head">
                    <div class="logo">
                        <a href="{% url 'index' %}">
                            <span class="logoBig">tuprofe</span><span class="logoSmall">.com.uy</span>
                        </a>
                    </div>
                    <div class="menuFoot">
                        <a href="{% url 'nosotros' %}">Nosotros</a>
                        <a href="{% url 'contacto' %}">Contáctenos</a>
                        {% if not request.user.is_authenticated %}
                            <a href="{% url 'ingresar' %}">Ingreso</a>
                            <a href="{% url 'registro' %}">Registro</a>
                        {% endif %}
                    </div>
                </div>
            </footer>

        {% endblock %}

        {% block initMapScript %}
            <script>
                function initMap() {
                    var geocoder = new google.maps.Geocoder();
                    configureListeners(geocoder);
                }
            </script>
        {% endblock %}

        {% block geocodeAddressScript %}
            <script>
                function geocodeAddress(geocoder, elemId) {
                    var address = document.getElementById(elemId).value;
                    document.getElementById('direccion').value = address;
                    geocoder.geocode({'address': address + ', Montevideo, Uruguay'}, function(results, status) {
                        if (status === 'OK') {
                            document.getElementById('lat').value = results[0].geometry.location.lat();
                            document.getElementById('lng').value = results[0].geometry.location.lng();
                            if (validateBuscarForm())
                                document.buscar.submit();
                        } else {
                            console.log('Geocode was not successful for the following reason: ' + status);
                        }
                    });
                }
            </script>
        {% endblock %}
        
                
        <script>
            function validateBuscarForm() {
                var x = document.forms["buscar"]["centro"].value;
                if (x == "") {
                    return false;
                }x = document.forms["buscar"]["materia"].value;
                if (x == "") {
                    return false;
                }x = document.forms["buscar"]["dir"].value;
                if (x == "") {
                    return false;
                }x = document.forms["buscar"]["lat"].value;
                if (x == "") {
                    return false;
                }x = document.forms["buscar"]["lng"].value;
                if (x == "") {
                    return false;
                }
                return true;
            }
            function configureListeners(geocoder) {
                var aux = document.getElementById('popUpSearch1');
                if (aux !== null) {
                    document.getElementById('popUpSearch1').addEventListener('click', function() {
                        if (! jQuery("#address").is(":hidden")) {
                            geocodeAddress(geocoder, 'direccion');
                        }
                    });
                }
                aux = document.getElementById('searchDirPop');
                if (aux !== null) {
                    document.getElementById('searchDirPop').addEventListener('click', function() {
                        geocodeAddress(geocoder, 'addressPop');
                    });
                    document.getElementById('searchPop').addEventListener('click', function() {
                        navigator.geolocation.getCurrentPosition(show_map);
                    });
                }
            }

            function show_map(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                document.getElementById('lat').value = latitude;
                document.getElementById('lng').value = longitude;
                if (validateBuscarForm())
                    document.buscar.submit();
            }


            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays*24*60*60*1000));
                var expires = "expires="+ d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }

            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
        </script>
        
        {% block scripts %}
		
        {% endblock %}

        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
        </script>
    </body>
</html>