{% extends "Institutos/base.html" %}

{% block titleH1 %}
  <h1 class="titleH1">
	Contactáte
  </h1>
{% endblock %}


{% block content %}

	<div class="breadcrum">
		<div class="max">
			<span><a href="/">Inicio</a></span>
			<span class="separa">&nbsp;>>&nbsp;</span>
			<span>Contactáte</span>				
		</div>
	</div>
	{% if errores %}
		{% include "Institutos/Mensaje_Show.html" with mensaje=errores %}
	{% endif %}
	<section class="interna">
		<article class="message">
			<img src="/static/Institutos/theme/img/info.gif">
			<form name="contacto" action="{% url 'contacto' 0 %}" method="post">
				{% csrf_token %}
				<div class="formularioContacto">
					<p>Contactáte</p>
					<input type="text" name="nombre" class="dir" placeholder="Nombre y Apellido" value="{{ mensaje.nombre }}">
					<input type="text" name="telefono" class="dir" placeholder="Teléfono" value="{{ mensaje.telefono }}">
					<input type="email" name="email" class="dir" placeholder="Correo electrónico" value="{{ mensaje.email }}">
					<input type="text" name="asunto" class="dir" placeholder="Asunto" value="{{ mensaje.asunto }}">
					<textarea name="mensaje" rows="4" cols="50" placeholder="Ingrese su mensaje...">{{ mensaje.mensaje }}</textarea>
					<div type="submit" class="search" onclick="javascript:document.contacto.submit();">Enviar</div>
				</div>
			</form>
		</article>      
	</section>

{% endblock %}
