{% extends "Institutos/base.html" %}

{% block content %}

<section class="home">
    <article>
        <h2>Somos la principal comunidad de Estudiantes y Profesores particulares</h2>
        <p>Buscá al profesor que necesitas ahora</p>
        <div class="full">
            <div class="tree">
                <p><img src="theme/img/h1.png" alt="Es Fácil"></p>
                <span>Es Fácil</span>
                <p>¡Un par de clicks y listo!</p>
            </div>
            <div class="tree">
                <p><img src="theme/img/h2.png" alt="Es Rápido"></p>
                <span>Es Rápido</span>
                <p>Encontrar a tu profe te toma 1 minuto</p>
            </div>
            <div class="tree">
                <p><img src="theme/img/h3.png" alt="Es Efectivo"></p>
                <span>Es Efectivo</span>
                <p>Lo que buscás lo encontrás acá</p>
            </div>
        </div>
    </article>      
</section>
<aside class="home">
    <div class="bottomHome">
        <h3>¿Sos profesor? ¡Sumate a TuProfe!</h3>
        <h4>Miles de estudiantes nos visitan en TuProfe.com.uy</h4>
        <a href="{% url 'registro' %}">¡Registrate Ya!</a>
    </div>
</aside>

<!--
<body onload="onLoad()">
    <div>Página principal del sitio</div>
    

    <div id="mensaje"></div>

    <form name="buscar" action="{% url 'buscar' %}" method="get">
        <label for="address">Dirección: </label>
        <input id="address" type="text" name="address" value="">

        <input id="lat" name="lat" type="number" value="" hidden>
        <input id="lng" name="lng" type="number" value="" hidden>

        <input id="btnSubmit" type="button" value="Enviar" />
    </form>
    
</body>


-->


{% endblock %}
