{% load staticfiles %}
<script src="{% static "Institutos/telefono.js" %}"></script>
<!--script src="{% static "Institutos/css/style.css" %}"></script-->

<h1>{{ instituto.nombre }}</h1>
<div>Distancia: 1.5 Km</div>
<div>Horario: 9:00 a 20:00</div>

<h2>Descripción</h2>
<div>{{ instituto.descripcion }}</div>

<div>Logo: {{ instituto.logo }}</div>

<h2>Contacto</h2>
<div>Teléfono: <div id="telefono" style="display: none;">{{ instituto.telefono }}</div><a id="link" href="#" onclick="clickTelefono()">Ver teléfono</a> </div>
<div>Dirección: {{ instituto.direccion }}</div>

<h3>Materias</h3>
<ul>
{% for f in instituto.materias.all %}
    <li>{{ f.nombre }}</li>
{% endfor %}
</ul>

<h3>Medios de Pago</h3>
<ul>
{% for f in instituto.formasPago.all %}
    <li>{{ f.nombre }}</li>
{% endfor %}
</ul>

<h3>Comodidades</h3>
<ul>
{% for f in instituto.comodidades.all %}
    <li>{{ f.nombre }}</li>
{% endfor %}
</ul>

<h3>Facilidades</h3>
<ul>
{% for f in instituto.facilidades.all %}
    <li>{{ f.nombre }}</li>
{% endfor %}
</ul>

<h2>Mensaje</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% include "Institutos/MensajeForm.html" with id=instituto.id %}

<h2>Dirección</h2>

<input id="lat" value="{{ instituto.latitud }}" type="number" hidden>
<input id="lng" value="{{ instituto.longitud }}" type="number" hidden>

<div id="map" style="height: 600px; width: 800px;"></div>

<script>
    function initMap() {
        var position = { lat: parseFloat(document.getElementById('lat').value), lng: parseFloat(document.getElementById('lng').value) };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: position
        });
        var marker = new google.maps.Marker({
            position: position,
            map: map
        });
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
</script>

