{% load staticfiles %}
<script src="{% static "Institutos/telefono.js" %}"></script>

<h1>{{ instituto.nombre }}</h1>
<h2>{{ instituto.descripcion }}</h2>


<h2>Datos</h2>
<div>Teléfono: <div id="telefono" style="display: none;">{{ instituto.telefono }}</div><a id="link" href="#" onclick="clickTelefono()">Ver teléfono</a> </div>

<h3>Materias</h3>
<ul>
{% for f in instituto.materias.all %}
    <li>{{ f.nombre }}</li>
{% endfor %}
</ul>
<h3>Facilidades</h3>
<ul>
{% for f in instituto.facilidades.all %}
    <li>{{ f.nombre }}</li>
{% endfor %}
</ul>

<h2>Mensaje</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'nuevo_mensaje' instituto.id %}" method="post">
    {% csrf_token %}
    <label for="nombre">Nombre: </label>
    <input id="nombre" type="text" name="nombre" value="">
    <label for="telefono">Telefono: </label>
    <input id="telefono" type="text" name="telefono" value="">
    <label for="email">Email: </label>
    <input id="email" type="text" name="email" value="">
    <label for="mensaje">Mensaje: </label>
    <input id="mensaje" type="text" name="mensaje" value="">

<input type="submit" value="Enviar" />
</form>
