{% extends "Institutos/base.html" %}

{% block titleH1 %}
  <h1 class="titleH1">
	  Registro
  </h1>
{% endblock %}


{% block content %}

		<div class="breadcrum">
			<div class="max">
				<span><a href="/">Inicio</a></span>
				<span class="separa">&nbsp;>>&nbsp;</span>
				<span>Registro</span>				
			</div>
		</div>

		<section class="interna">
			<article class="message">
				<img src="/static/Institutos/theme/img/info.gif">
				<p>{{ mensaje }}</p>
				<div class="search" onclick="javascript:irA('/');">Volver<div>
			</article>      
		</section>

{% endblock %}
