{% extends "Institutos/base.html" %}

{% load Institutos_extras %}

{% load staticfiles %}

{% block titleH1 %} 
    <h1 class="titleH1">{{ instituto.nombre }}</h1>
{% endblock %}

{% block content %}
    <div class="breadcrum">
        <div class="max">
            <span><a href="/">Inicio</a></span>
            <span class="separa">&nbsp;>>&nbsp;</span>
            <span>{{ instituto.nombre }}</span>
        </div>
    </div>

    <div class="max">
        <div class="titleRes ajusteMargin"></div>
    </div>
    <section class="interna">
        <form name="edit" action="/Perfil_edit" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="max">
                <div class="reeadInfo_edit">
                    <div class="title">
                        <h2>Información b&aacute;sica</h2>
                        <a href="#" onclick="validateEditProfeForm();">Guardar</a>
                    </div>
                    
                    <div class="reeadBox" id="infoBasca_edit">
                        <img src="{{ MEDIA_URL }}profile_pics/{{ instituto.logo }}" />
                        <div class="reeadBoxInfo">
                            <span>Nombre Instituci&oacute;n</span>
                            <p>
                                <input type="text" name="nombre" id="nombre_edit" class="dir" placeholder="Nombre Institución" value="{{ instituto.nombre }}" />
                            </p>
                            <span>Nombre Instituci&oacute;n</span>
                            <p>
                                <input type="file" name="logo" id="logo_edit">
                            </p>							
                            <span>Teléfono</span>
                            <p>
                                <input type="text" name="telefono" id="telefono_edit" class="dir" placeholder="Teléfono" value="{{ instituto.telefono }}" />
                            </p>
                            <span>Email de contacto</span>
                            <p>
                                <input type="email" name="email" id="email_edit" class="dir" placeholder="Correo electrónico" value="{{ instituto.usuario.email }}" hidden/>
                            </p>
                            <p>
                                {{ instituto.usuario.email }}
                            </p>
                            <span>Descripci&oacute;n</span>
                            <p>
                                <textarea name="descripcion" id="descripcion_edit" rows="4" cols="50" placeholder="Ingrese su descripción...">{{ instituto.descripcion }}</textarea>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="max">
                <div class="reeadInfo_edit">
                    <div class="title">
                        <h2>Ubicaci&oacute;n</h2>
                        <a href="#" onclick="validateEditProfeForm();">Guardar</a>
                    </div>
                    <div class="reeadBox" id="ubicacion_edit">
                        <div class="readLeftUbicacion">
                            <span>Direcci&oacute;n</span>
                            <p>
                                <input type="text" id="address" name="direccion" class="dir" placeholder="Calle" value="{{ instituto.direccion }}">
                            </p>
                        </div>
                        <div class="readRightUbicacion">
                            Ubicación en el mapa
                            
                            <input id="lat" name="latitud" value="{{ instituto.latitud }}" type="number" hidden>
                            <input id="lng" name="longitud" value="{{ instituto.longitud }}" type="number" hidden>

                            <div id="map" style="height: 150px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="max">
                <div class="reeadInfo_edit full">
                    <div class="title">
                        <h2>Materias</h2>
                        <a href="#" onclick="validateEditProfeForm();">Guardar</a>
                    </div>
                    <div class="reeadBox" id="centro_display">
                        <div class="search" onclick="addCentroShow()">+ Agregar nuevo centro de estudio</div>
                        <div class="subrayado">
                            Mis centros de estudio
                        </div>
                        {% for c in instituto.centros.all %}
                            <p id="centros_{{ c.id }}"><span class="centroEstudio">{{ c.nombre }}</span></p>
                            <div class="addButtonEdit">
                                <div class="search" onclick="addMateriaShow({{ c.id }})">+ Agregar materia</div>
                            </div>
                            <div class="addButtonEdit" id="materias_centro_{{ c.id }}">
                                {% for m in instituto.materias.all|with_centro:c %}
                                    <div class="boxBox" id="materias_{{ m.id }}">
                                        <span>{{ m.nombre }}</span>
                                        <img src="static/Institutos/theme/img/cross_filtro.png" onclick="removeMateria({{ m.id }});">
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="max">
                <div class="reeadInfo_edit">
                    <div class="title">
                        <h2>Medios de pago</h2>
                        <a href="#" onclick="validateEditProfeForm();">Guardar</a>
                    </div>
                    <div class="reeadBox">
                        <div class="addButtonEdit">
                            <div class="search" onclick="addShow('formaPago', formasPago)">+ Agregar medio de pago</div>
                        </div>
                        <div class="addButtonEdit" id="formaPago_display">
                            {% for f in instituto.formasPago.all %}
                                <div class="boxBox" id="formaPago_{{ f.id }}">
                                    <span>{{ f.nombre }}</span>
                                    <img src="static/Institutos/theme/img/cross_filtro.png" onclick="removeItem('formaPago', {{ f.id }});">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="max">
                <div class="reeadInfo_edit">
                    <div class="title">
                        <h2>Profesores</h2>
                        <a href="#" onclick="validateEditProfeForm();">Guardar</a>
                    </div>
                    <div class="reeadBox">
                        <div class="addButtonEdit">
                            <div class="search" onclick="addProfeShow();">+ Agregar profe</div>
                        </div>
                        <div class="addButtonEdit" id="profesores_display">
                            {% for f in instituto.profesor_set.all %}
                                <div class="boxBox" id="profesores_{{ f.nombre }}">
                                    <span>{{ f.nombre }}</span>
                                    <img src="static/Institutos/theme/img/cross_filtro.png" onclick="removeItem('profesores', '{{ f.nombre }}');">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="max">
                <div class="reeadInfo_edit">
                    <div class="title">
                        <h2>Facilidades</h2>
                        <a href="#" onclick="validateEditProfeForm();">Guardar</a>
                    </div>
                    <div class="reeadBox">
                        <div class="addButtonEdit">
                            <div class="search" onclick="addShow('facilidad', facilidades)">+ Agregar facilidad</div>
                        </div>
                        <div class="addButtonEdit" id="facilidad_display">
                            {% for f in instituto.facilidades.all %}
                                <div class="boxBox" id="facilidades_{{ f.id }}">
                                    <span>{{ f.nombre }}</span>
                                    <img src="static/Institutos/theme/img/cross_filtro.png" onclick="removeItem('facilidad', {{ f.id }});">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="max">
                <div class="reeadInfo_edit">
                    <div class="title">
                        <h2>Comodidades</h2>
                        <a href="#" onclick="validateEditProfeForm();">Guardar</a>
                    </div>
                    <div class="reeadBox">
                        <div class="addButtonEdit">
                            <div class="search" onclick="addShow('comodidad', comodidades)">+ Agregar comodidad</div>
                        </div>
                        <div class="addButtonEdit" id="comodidad_display">
                            {% for f in instituto.comodidades.all %}
                                <div class="boxBox" id="comodidad_{{ f.id }}">
                                    <span>{{ f.nombre }}</span>
                                    <img src="static/Institutos/theme/img/cross_filtro.png" onclick="removeItem('comodidad', {{ f.id }});">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

    

            <select name="centros" required="" id="centros_edit" multiple="" hidden>
                {% for c in instituto.centros.all %}
                    <option value="{{ c.id }}" selected=""></option>
                {% endfor %}
            </select>

            <select name="materias" required="" id="materias_edit" multiple="" hidden>
                {% for m in instituto.materias.all %}
                    <option value="{{ m.id }}" selected=""></option>
                {% endfor %}
            </select>

            <select name="facilidades" required="" id="facilidad_edit" multiple="" hidden>
                {% for m in instituto.facilidades.all %}
                    <option value="{{ m.id }}" selected=""></option>
                {% endfor %}
            </select>

            <select name="formasPago" required="" id="formaPago_edit" multiple="" hidden>
                {% for m in instituto.formasPago.all %}
                    <option value="{{ m.id }}" selected=""></option>
                {% endfor %}
            </select>

            <select name="comodidades" required="" id="comodidad_edit" multiple="" hidden>
                {% for m in instituto.comodidades.all %}
                    <option value="{{ m.id }}" selected=""></option>
                {% endfor %}
            </select>

            <select name="profesores" required="" id="profesores_edit" multiple="" hidden>
                {% for m in instituto.profesor_set.all %}
                    <option value="{{ m.nombre }}" selected=""></option>
                {% endfor %}
            </select>
        </form>
    </section>


        <div class="popUpContentBox_centro" style="position: fixed;">
            <div class="close" id="close" onclick="javascript:closedForSearch('_centro');">&times;</div>
            <h3>Seleccione el centro de estudios</h3>
            <div class="formularioPop">
                <div>
                    <select required="" id="centros_list"></select>
                    <div>&nbsp;</div>
                    <input value="Agregar" name="add" class="search" id="searchDirPop" onclick="addCentro()">
                </div>
            </div>
        </div>
        <div class="popUpContentBox_materia" style="position: fixed;">
            <div class="close" id="close" onclick="javascript:closedForSearch('_materia');">&times;</div>
            <h3>Seleccione la materia</h3>
            <div class="formularioPop">
                <div>
                    <select required="" id="materias_list"></select>
                    <div>&nbsp;</div>
                    <input id="centro_xxx" hidden>
                    <input value="Agregar" name="add" class="search" id="searchDirPop" onclick="addMateria()">
                </div>
            </div>
        </div>

        
        <div class="popUpContentBox_facilidad" style="position: fixed;">
            <div class="close" id="close" onclick="javascript:closedForSearch('_facilidad');">&times;</div>
            <h3>Seleccione la facilidad</h3>
            <div class="formularioPop">
                <div>
                    <select required="" id="facilidad_list"></select>
                    <div>&nbsp;</div>
                    <input value="Agregar" name="add" class="search" id="searchDirPop" onclick="addItem('facilidad')">
                </div>
            </div>
        </div>
        
        <div class="popUpContentBox_formaPago" style="position: fixed;">
            <div class="close" id="close" onclick="javascript:closedForSearch('_formaPago');">&times;</div>
            <h3>Seleccione la forma de pago</h3>
            <div class="formularioPop">
                <div>
                    <select required="" id="formaPago_list"></select>
                    <div>&nbsp;</div>
                    <input value="Agregar" name="add" class="search" id="searchDirPop" onclick="addItem('formaPago')">
                </div>
            </div>
        </div>
        
        <div class="popUpContentBox_comodidad" style="position: fixed;">
            <div class="close" id="close" onclick="javascript:closedForSearch('_comodidad');">&times;</div>
            <h3>Seleccione la comodidad</h3>
            <div class="formularioPop">
                <div>
                    <select required="" id="comodidad_list"></select>
                    <div>&nbsp;</div>
                    <input value="Agregar" name="add" class="search" id="searchDirPop" onclick="addItem('comodidad')">
                </div>
            </div>
        </div>
        
        <div class="popUpContentBox" style="position: fixed;">
            <div class="close" id="close" onclick="javascript:closedForSearch('');">&times;</div>
            <h3>Ingrese el nombre del profesor</h3>
            <div class="formularioPop">
                <div class="reeadInfo_edit">
                <div class="reeadBox">
                <div class="reeadBoxInfo">
                    <input type="text" id="nombre_profe" class="dir" />
                </div>
                </div>
                </div>
                    <input value="Agregar" name="add" class="search" id="searchDirPop" onclick="addProfe()">
            </div>
        </div>
        <div class="popUpContent" style="position: fixed;">&nbsp;</div>



        <script>
        
            var centros = [
                {% for centro in centros %}
                    { id: "{{ centro.id }}", nombre: "{{ centro.nombre }}" }, 
                {% endfor %}
            ];

            var materias = [
                {% for materia in materias %}
                    { id: "{{ materia.id }}", centro: "{{ materia.centro.id }}", nombre: "{{ materia.nombre }}" }, 
                {% endfor %}
            ];

            var facilidades = [
                {% for facilidad in facilidades %}
                    { id: "{{ facilidad.id }}", nombre: "{{ facilidad.nombre }}" }, 
                {% endfor %}
            ];

            var formasPago = [
                {% for formaPago in formasPago %}
                    { id: "{{ formaPago.id }}", nombre: "{{ formaPago.nombre }}" }, 
                {% endfor %}
            ];

            var comodidades = [
                {% for comodidad in comodidades %}
                    { id: "{{ comodidad.id }}", nombre: "{{ comodidad.nombre }}" }, 
                {% endfor %}
            ];



            function addSelectedOption(select_id, option_val) {
                var select = document.getElementById(select_id);
                var opt = document.createElement('option');
                opt.value = option_val;
                opt.setAttribute("selected", "");

                select.appendChild(opt);
            }

            function addCentroShow() {
                jQuery('#centros_list').empty();

                var $option;
                var i;
                for (i = 0; i < centros.length; i++) {
                    if (jQuery('#centros_'+centros[i].id).length==0){
                        $option = jQuery("<option></option>")
                            .attr("value", centros[i].id)
                            .text(centros[i].nombre);
                        jQuery('#centros_list').append($option);
                    } 
                }
                jQuery(".popUpContent").css("display","block");
                jQuery(".popUpContentBox_centro").css("display","block");
            }
            
            function addCentro() {
                var centro = jQuery('#centros_list')[0].value;
                var nombre = jQuery("#centros_list option:selected").text();
                addSelectedOption('centros_edit', centro);

                var html = '<p id="centros_'+centro+'"><span class="centroEstudio">'+nombre+'</span></p><div class="addButtonEdit"><div class="search" onclick="addMateriaShow('+centro+')">+ Agregar materia</div></div><div id="materias_centro_'+centro+'" class="addButtonEdit"></div>';
                jQuery('#centro_display').append(html);
                
                jQuery(".popUpContentBox_centro").css("display","none");
                closed();
            }
            

            function addMateriaShow(centro) {
                jQuery('#centro_xxx')[0].value = centro; 
                jQuery('#materias_list').empty();

                var $option;
                var i;
                for (i = 0; i < materias.length; i++) {
                    if (materias[i].centro==centro && jQuery('#materias_'+materias[i].id).length==0){
                        $option = jQuery("<option></option>")
                            .attr("value", materias[i].id)
                            .text(materias[i].nombre);
                        jQuery('#materias_list').append($option);
                    } 
                }

                jQuery(".popUpContent").css("display","block");
                jQuery(".popUpContentBox_materia").css("display","block");
            }

            function addMateria() {
                var centro = jQuery('#centro_xxx')[0].value;
                var materia = jQuery('#materias_list')[0].value;
                var nombre = jQuery("#materias_list option:selected").text();
                addSelectedOption('materias_edit', materia);

                var html = '<div class="boxBox" id="materias_'+materia+'"><span>'+nombre+'</span><img src="static/Institutos/theme/img/cross_filtro.png" onclick="removeMateria(' + materia + ');"></div>'
                jQuery('#materias_centro_'+centro).append(html);
                
                jQuery(".popUpContentBox_materia").css("display","none");
                closed();
            }

            function removeMateria(materia) {
                jQuery('#materias_'+materia).remove();
                jQuery("#materias_edit option[value='"+materia+"']").remove();
            }

            function addShow(atributo, list) {
                jQuery('#'+atributo+'_list').empty();

                var $option;
                var i;
                for (i = 0; i < list.length; i++) {
                    if (jQuery('#'+atributo+'_'+list[i].id).length==0){
                        $option = jQuery("<option></option>")
                            .attr("value", list[i].id)
                            .text(list[i].nombre);
                        jQuery('#'+atributo+'_list').append($option);
                    } 
                }

                jQuery(".popUpContent").css("display","block");
                jQuery(".popUpContentBox_"+atributo).css("display","block");
            }

            function addItem(atributo) {
                var id = jQuery('#'+atributo+'_list')[0].value;
                var nombre = jQuery("#"+atributo+"_list option:selected").text();
                addSelectedOption(atributo+'_edit', id);

                var html = '<div class="boxBox" id="'+atributo+'_'+id+'"><span>'+nombre+'</span><img src="static/Institutos/theme/img/cross_filtro.png" onclick="removeItem(\''+atributo+'\', '+ id + ');"></div>';
                jQuery('#'+atributo+'_display').append(html);
                
                jQuery(".popUpContentBox_"+atributo).css("display","none");
                closed();
            }

            function removeItem(atributo, id) {
                jQuery('#'+atributo+'_'+id).remove();
                jQuery("#"+atributo+"_edit option[value='"+id+"']").remove();
            }

            
            function addProfeShow() {
                jQuery(".popUpContent").css("display","block");
                jQuery(".popUpContentBox").css("display","block");
            }

            function addProfe() {
                var profe = jQuery('#nombre_profe').val();
                var atributo = 'profesores';
                
                addSelectedOption(atributo+'_edit', profe);

                var html = '<div class="boxBox" id="'+atributo+'_'+profe+'"><span>'+profe+'</span><img src="static/Institutos/theme/img/cross_filtro.png" onclick="removeItem(\''+atributo+'\', \''+ profe + '\');"></div>';
                jQuery('#'+atributo+'_display').append(html);
                
                
                jQuery(".popUpContentBox").css("display","none");
                closed();
            }

            
            function validateEditProfeForm() {
                var status = true;
                var x = document.forms["edit"]["nombre"];
                x.style.borderColor = '#ddd';
                if (x.value == "") {
                    x.style.borderColor = 'red';
                    status = false;
                }
                x = document.forms["edit"]["telefono"];
                x.style.borderColor = '#ddd';
                if (x.value == "") {
                    x.style.borderColor = 'red';
                    status = false;
                }
                x = document.forms["edit"]["email"];
                x.style.borderColor = '#ddd';
                if (x.value == "") {
                    x.style.borderColor = 'red';
                    status = false;
                }
                x = document.forms["edit"]["descripcion"];
                x.style.borderColor = '#ddd';
                if (x.value == "") {
                    x.style.borderColor = 'red';
                    status = false;
                }
                x = document.forms["edit"]["direccion"];
                x.style.borderColor = '#ddd';
                if (x.value == "") {
                    x.style.borderColor = 'red';
                    status = false;
                }
                
                x = document.forms["edit"]["lat"];
                if (x.value == "") {
                    status = false;
                }
                x = document.forms["edit"]["lng"];
                if (x.value == "") {
                    status = false;
                }
                if (status)
                    jQuery('form')[0].submit();
            }
        </script>



{% endblock %}

        

{% block initMapScript %}
    <script>
        var lastMarker = null;

        function initMap() {
            var position = { lat: parseFloat(document.getElementById('lat').value), lng: parseFloat(document.getElementById('lng').value) };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: position
            });
            var marker = new google.maps.Marker({
                position: position,
                map: map
            });

            lastMarker = marker;

            var geocoder = new google.maps.Geocoder();

            document.getElementById('address').addEventListener('change', function() {
                geocodeAddress(geocoder, map);
            });
/*
            google.maps.event.addListener(map, 'click', function(event) {
                placeMarker(event.latLng);
            });

            function placeMarker(location) {
                var marker = new google.maps.Marker({
                    position: location, 
                    map: map
                });

                lastMarker.setMap(null);
                lastMarker = marker;
            }
*/
        }

        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('address').value;
            geocoder.geocode({'address': address + ', Montevideo, Uruguay'}, function(results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });

                    lastMarker.setMap(null);
                    lastMarker = marker;
                } else {
                    console.log('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    
        
    </script>
{% endblock %}



{% block geocodeAddressScript %}
    <script>
        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('address').value;
            geocoder.geocode({'address': address + ', Montevideo, Uruguay'}, function(results, status) {
                if (status === 'OK') {
                    document.getElementById('lat').value = results[0].geometry.location.lat();
                    document.getElementById('lng').value = results[0].geometry.location.lng();

                    resultsMap.setCenter(results[0].geometry.location);
                    
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });

                    lastMarker.setMap(null);
                    lastMarker = marker;
                } else {
                    console.log('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
{% endblock %}
