{% block title %}Pagina con el perfil del intituto{% endblock %}

<div>En esta página se mostrará la información del istituto para su modificación y otros datos que se definan en el diseño</div>

<h3>Mensajes</h3>
<ul>
{% for m in instituto.mensaje_set.all %}
    <li>{{ m.fecha|date:"d/M/Y H:i" }} - {{ m.nombre }} - {{ m.telefono }} - {{ m.email }} - {{ m.mensaje }}</li>
{% endfor %}
</ul>


<form action="/Perfil" method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        
        {% comment %}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% endcomment %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Guardar</button>
  </form>


<h2>Dirección</h2>

<input id="lat" value="{{ instituto.latitud }}" type="number" hidden>
<input id="lng" value="{{ instituto.longitud }}" type="number" hidden>

<div id="floating-panel">
    <input id="address" type="textbox" value="">
    <input id="submit" type="button" value="Buscar dirección">
</div>

<br />

<div id="map" style="height: 600px; width: 800px;"></div>

<script>
    var lastMarker = null;

    function initMap() {
        var position = { lat: parseFloat(document.getElementById('lat').value), lng: parseFloat(document.getElementById('lng').value) };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: position
        });
        var marker = new google.maps.Marker({
            position: position,
            map: map
        });

        lastMarker = marker;

        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
            geocodeAddress(geocoder, map);
        });

        google.maps.event.addListener(map, 'click', function(event) {
            placeMarker(event.latLng);
        });

        function placeMarker(location) {
            var marker = new google.maps.Marker({
                position: location, 
                map: map
            });

            lastMarker.setMap(null);
            lastMarker = marker;
        }
    }

    function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address + ', Montevideo, Uruguay'}, function(results, status) {
            if (status === 'OK') {
                resultsMap.setCenter(results[0].geometry.location);
                
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });

                lastMarker.setMap(null);
                lastMarker = marker;
            } else {
                console.log('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
</script>

<br />

<div>
    <a href="{% url 'logout' %}">Salir</a>
</div>