{% extends "Institutos/base.html" %}

{% load Institutos_extras %}

{% load staticfiles %}


{% block titleH1 %} 
    <h1 class="titleH1">{{ instituto.nombre }}</h1>

{% endblock %}





{% block content %}


    <div class="breadcrum">
        <div class="max">
            <span><a href="/">Inicio</a></span>
            <span class="separa">&nbsp;>>&nbsp;</span>
            <span>{{ instituto.nombre }}</span>
        </div>
    </div>




    <div class="max">
        <div class="titleRes ajusteMargin"></div>
    </div>
    <section class="interna">
        <div class="max">
            <div class="reeadInfo_edit">
                <div class="title">
                    <h2>Información b&aacute;sica</h2>
                    <a href="#">Guardar</a>
                </div>
                <div class="reeadBox" id="infoBasca_edit">
                    <img src="static/Institutos/profile_pics/{{ instituto.logo }}" style="max-height: 115px;">
                    <div class="reeadBoxInfo">
                        <span>Nombre Instituci&oacute;n</span>
                        <p>
                            <input type="text" name="nombre" class="dir" placeholder="Nombre Institución" value="{{ instituto.nombre }}">
                        </p>
                        <span>Nombre Instituci&oacute;n</span>
                        <p>
                            <input type="file" id="input">
                        </p>							
                        <span>Teléfono</span>
                        <p>
                            <input type="text" name="telefono" class="dir" placeholder="Teléfono" value="{{ instituto.telefono }}">
                        </p>
                        <span>Email de contacto</span>
                        <p>
                            <input type="email" name="email" class="dir" placeholder="Correo electrónico" value="{{ instituto.usuario.email }}">
                        </p>
                        <span>Descripc&oacute;n</span>
                        <p>
                            <textarea rows="4" cols="50" placeholder="Ingrese su mensaje...">{{ instituto.descripcion }}</textarea>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="max">
            <div class="reeadInfo_edit">
                <div class="title">
                    <h2>Ubicaci&oacute;n</h2>
                    <a href="#">Guardar</a>
                </div>
                <div class="reeadBox" id="ubicacion_edit">
                    <div class="readLeftUbicacion">
                        <span>Direcci&oacute;n</span>
                        <p>
                            <input type="text" name="calle" class="dir" placeholder="Calle" value="{{ instituto.direccion }}">
                        </p>
                        <!--
                        <span style="float: left;">N&uacute;mero</span>
                        <p><input type="text" name="numero_calle" class="dir" placeholder="Números" value="1359"></p>
                        -->
                    </div>
                    <div class="readRightUbicacion">
                        Ubicación en el mapa
                        
                        <input id="lat" value="{{ instituto.latitud }}" type="number" hidden>
                        <input id="lng" value="{{ instituto.longitud }}" type="number" hidden>

                        <div id="map" style="height: 150px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="max">
            <div class="reeadInfo_edit full">
                <div class="title">
                    <h2>Materias</h2>
                    <a href="#">Guardar</a>
                </div>
                <div class="reeadBox" id="materias_edit">
                    <div class="search" onclick="javascript:addMediosPago('referemciaAurl');">+ Agregar nuevo centro de estudio</div>
                    <div class="subrayado">
                        Mis centros de estudio
                    </div>
                    {% for c in instituto.centros.all %}
                        <p><span class="centroEstudio">{{ c.nombre }}</span></p>
                        <div class="addButtonEdit">
                            <div class="search" onclick="">+ Agregar materia</div>
                        </div>
                        <div class="addButtonEdit">
                            {% for m in instituto.materias.all|with_centro:c %}
                                <div class="boxBox" id="materias_{{ m.id }}">
                                    <span>{{ m.nombre }}</span>
                                    <img src="static/Institutos/theme/img/cross_filtro.png" onclick="javascript:jQuery('#materias_{{ m.id }}').remove();">
                                </div>
                            {% endfor %}
						</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="max">
            <div class="reeadInfo_edit">
                <div class="title">
                    <h2>Medios de pago</h2>
                    <a href="#">Guardar</a>
                </div>
                <div class="reeadBox" id="mediosPago_edit">
                    <div class="addButtonEdit">
                        <div class="search" onclick="">+ Agregar medio de pago</div>
                    </div>
                    {% if instituto.formasPago.all %}
                        <div class="addButtonEdit">
                            {% for f in instituto.formasPago.all %}
                                <div class="boxBox" id="formasPago_{{ f.id }}">
                                    <span>{{ f.nombre }}</span>
                                    <img src="static/Institutos/theme/img/cross_filtro.png" onclick="javascript:jQuery('#formasPago_{{ f.id }}').remove();">
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="reeadBoxInfo">
                            <span>Sin datos ingreados a&uacute;n.</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="max">
            <div class="reeadInfo_edit">
                <div class="title">
                    <h2>Profesores</h2>
                    <a href="#">Guardar</a>
                </div>
                <div class="reeadBox" id="profesores_edit">
                    <div class="addButtonEdit">
                        <div class="search" onclick="">+ Agregar profe</div>
                    </div>
                    {% if instituto.profesor_set.all %}
                        <div class="addButtonEdit">
                            {% for f in instituto.profesor_set.all %}
                                <div class="boxBox" id="profesor_set_{{ f.id }}">
                                    <span>{{ f.nombre }}</span>
                                    <img src="static/Institutos/theme/img/cross_filtro.png" onclick="javascript:jQuery('#profesor_set_{{ f.id }}').remove();">
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="reeadBoxInfo">
                            <span>Sin datos ingreados a&uacute;n.</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="max">
            <div class="reeadInfo_edit">
                <div class="title">
                    <h2>Facilidades</h2>
                    <a href="#">Guardar</a>
                </div>
                <div class="reeadBox" id="facilidades_edit">
                    <div class="addButtonEdit">
                        <div class="search" onclick="">+ Agregar facilidad</div>
                    </div>
                    {% if instituto.facilidades.all %}
                        <div class="addButtonEdit">
                            {% for f in instituto.facilidades.all %}
                                <div class="boxBox" id="facilidades_{{ f.id }}">
                                    <span>{{ f.nombre }}</span>
                                    <img src="static/Institutos/theme/img/cross_filtro.png" onclick="javascript:jQuery('#facilidades_{{ f.id }}').remove();">
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="reeadBoxInfo">
                            <span>Sin datos ingreados a&uacute;n.</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="max">
            <div class="reeadInfo_edit">
                <div class="title">
                    <h2>Comodidades</h2>
                    <a href="#">Guardar</a>
                </div>
                <div class="reeadBox" id="comodidades_edit">
                    <div class="addButtonEdit">
                        <div class="search" onclick="">+ Agregar comodidad</div>
                    </div>
                    {% if instituto.comodidades.all %}
                        <div class="addButtonEdit">
                            {% for f in instituto.comodidades.all %}
                                <div class="boxBox" id="comodidades_{{ f.id }}">
                                    <span>{{ f.nombre }}</span>
                                    <img src="static/Institutos/theme/img/cross_filtro.png" onclick="javascript:jQuery('#comodidades_{{ f.id }}').remove();">
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="reeadBoxInfo">
                            <span>Sin datos ingreados a&uacute;n.</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

        

{% block initMapScript %}
    <script>
        function initMap() {
            var position = { lat: parseFloat(document.getElementById('lat').value), lng: parseFloat(document.getElementById('lng').value) };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: position
            });
            var marker = new google.maps.Marker({
                position: position,
                map: map
            });
        }
    </script>
{% endblock %}









        



{% block title %}Pagina con el perfil del intituto{% endblock %}

<div>En esta página se mostrará la información del istituto para su modificación y otros datos que se definan en el diseño</div>

<h3>Mensajes</h3>
<ul>
{% for m in instituto.mensaje_set.all %}
    <li>{{ m.fecha|date:"d/M/Y H:i" }} - {{ m.nombre }} - {{ m.telefono }} - {{ m.email }} - {{ m.mensaje }}</li>
{% endfor %}
</ul>


<form action="/Perfil" method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        
        {% comment %}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% endcomment %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Guardar</button>
  </form>


<h2>Dirección</h2>

<input id="lat" value="{{ instituto.latitud }}" type="number" hidden>
<input id="lng" value="{{ instituto.longitud }}" type="number" hidden>

<div id="floating-panel">
    <input id="address" type="textbox" value="">
    <input id="submit" type="button" value="Buscar dirección">
</div>

<br />

<div id="map" style="height: 600px; width: 800px;"></div>

<script>
    var lastMarker = null;

    function initMap() {
        var position = { lat: parseFloat(document.getElementById('lat').value), lng: parseFloat(document.getElementById('lng').value) };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: position
        });
        var marker = new google.maps.Marker({
            position: position,
            map: map
        });

        lastMarker = marker;

        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
            geocodeAddress(geocoder, map);
        });

        google.maps.event.addListener(map, 'click', function(event) {
            placeMarker(event.latLng);
        });

        function placeMarker(location) {
            var marker = new google.maps.Marker({
                position: location, 
                map: map
            });

            lastMarker.setMap(null);
            lastMarker = marker;
        }
    }

    function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address + ', Montevideo, Uruguay'}, function(results, status) {
            if (status === 'OK') {
                resultsMap.setCenter(results[0].geometry.location);
                
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });

                lastMarker.setMap(null);
                lastMarker = marker;
            } else {
                console.log('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
</script>

<br />

<div>
    <a href="{% url 'logout' %}">Salir</a>
</div>