{% extends "admin/base_site.html" %}


{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
{% endblock %}


{% block title %}Institutos Activos{% endblock %}

{% block coltype %}flex{% endblock %}


{% block content %}
  <div id="content-main">
      <h1>Institutos Activos</h1>
      <div id="content-main">
    
        <div class="module" id="changelist">
    
    <div class="results">
        <table id="result_list">
        <thead>
            <tr>
            
            <th scope="col" class="action-checkbox-column">
            
            <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
            <div class="clear"></div>
            </th>
            <th scope="col" class="column-__str__">
                <div class="text"><span>Id</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col" class="column-__str__">
                <div class="text"><span>Nombre</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col" class="column-__str__">
                <div class="text"><span>Telefono</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col" class="column-__str__">
                <div class="text"><span>Usuario</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col" class="column-__str__">
                <div class="text"><span>Email</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col" class="column-__str__">
                <div class="text"><span>Acciones</span></div>
                <div class="clear"></div>
            </th>
            </tr>
        </thead>
        <tbody>
        
            {% for instituto in activos %}
                <tr class="row1">
                    <td class="action-checkbox"><input type="checkbox" name="_selected_action" value="{{ instituto.id }}" class="action-select"></td>
                    <th class="field-__str__"><a href="/admin/Institutos/instituto/{{ instituto.id }}/change/">{{ instituto.id }}</a></th>
                    <th class="field-__str__"><a href="/admin/Institutos/instituto/{{ instituto.id }}/change/">{{ instituto.nombre }}</a></th>
                    <th class="field-__str__"><a href="/admin/Institutos/instituto/{{ instituto.id }}/change/">{{ instituto.telefono }}</a></th>
                    <th class="field-__str__"><a href="/admin/Institutos/instituto/{{ instituto.id }}/change/">{{ instituto.usuario.username }}</a></th>
                    <th class="field-__str__"><a href="/admin/Institutos/instituto/{{ instituto.id }}/change/">{{ instituto.usuario.email }}</a></th>
                    <th class="field-__str__">
                        <form action="{% url 'deshabilitar_instituto' instituto.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Deshabilitar" />
                        </form>
                    </th>
                </tr>
                
            
            {% endfor %}
            
        
        </tbody>
        </table>
    </div>
    
    
      <!--    </form> -->
        </div>
      </div>
  </div>
{% endblock %}